<div class="wrapper">

    <header>
        <nav>
            <ul>
                <li id="logo"><a href="#">Logo</a></li>
                <li><a href="#">Log In</a></li>
            </ul>
        </nav>
    </header>

<%= video_tag "splash.mp4", :size => "1366x768", :autoplay => true, :loop => true  %>

    <h1 class="wrapper">Welcome to Vagabond</h1>

    <button class="button" type="button" name="button">Sign Up</button>

</div>
