    <!-- <header>
        <nav>
            <ul>
                <li id="logo"><a class="sign_up waves-effect waves-light btn-large">Logo Goes Here</a></li>
                <li><<a class="sign_up waves-effect waves-light btn-large">Login</a></li>
            </ul>
        </nav>
    </header> -->
<!-- <%= video_tag "splash.mp4", :size => "1366x768", :autoplay => true, :loop => true, :muted => true  %> -->
<h1> VAGABOND </h1>
<span><h5>Travel. Share. Discover.</h5></span>
