<div class="wrapper">

    <!-- <header>
        <nav>
            <ul>
                <li id="logo"><a class="sign_up waves-effect waves-light btn-large">Logo Goes Here</a></li>
                <li><<a class="sign_up waves-effect waves-light btn-large">Login</a></li>
            </ul>
        </nav>
    </header> -->

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Switter</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a class="waves-effect waves-light btn">Log In</a>
            </li>
        </ul>
    </div>
</nav>

<<<<<<< HEAD
<<<<<<< HEAD
<!-- <%= video_tag "splash.mp4", :size => "1366x768", :autoplay => true, :loop => true, :muted => true  %> -->
<div class="center-btn">
  <a href= "#modal" class="sign_up waves-effect waves-light btn-large">Sign Up</a>
=======
=======
>>>>>>> 5d4d0f609f2e6004f82a2b403cb0679eb6068733
<%= video_tag "splash.mp4", :size => "1366x768", :autoplay => true, :loop => true, :muted => true  %>

    <div class="center-btn">
      <a class="sign_up waves-effect waves-light btn-large">Sign Up</a>
    </div>

>>>>>>> 5d4d0f609f2e6004f82a2b403cb0679eb6068733
</div>
