<div class="center-btn">
  <a href="/users/new" class="sign_up waves-effect waves-light btn-large">Sign Up</a>
</div>




<!-- <header>
    <nav>
        <ul>
            <li id="logo"><a class="sign_up waves-effect waves-light btn-large">Logo Goes Here</a></li>
            <li><<a class="sign_up waves-effect waves-light btn-large">Login</a></li>
        </ul>
    </nav>
</header> -->

<!-- <nav>
<div class="nav-wrapper">
    <a href="#" class="brand-logo">Switter</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class="waves-effect waves-light btn">Log In</a>
        </li>
    </ul>
</div>
</nav> -->

<!-- <%= video_tag "splash.mp4", :size => "1366x768", :autoplay => true, :loop => true, :muted => true  %> -->
