



<div class="center">
  <div class="profile_image">
    <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="" class="circle responsive-img" width="200" height="200"></img>
  </div>
  <span class="profile_name">
    <%= @user.first_name %> <%= @user.last_name %><br></span>
  <span class="location_name"><%= @user.city %>, <%=@user.city %><br></span>
</div>
