



<div class="center">
  <div class="profile_image">
    <img src="http://www.eilatgordinlevitan.com/kurenets/k_pix/kunstler/060508_30_b.gif" alt="" class="circle responsive-img" width="200" height="200"></img>
  </div>
  <span class="profile_name">
    <%= @user.first_name %> <%= @user.last_name %><br></span>
  <span class="location_name"><%= @user.city %>, <%=@user.state %><br></span>
</div>

<div class="col s12 m7 profile_card">
  <div class="p_card">
  <h3 class="header">City Name</h3>
  </div>
  <div class="card small horizontal">
    <div class="card-image">
      <img src="http://www.indypendent.org/wp-content/photos/page14_kunstler.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>Post text here</p>
      </div>
      <div class="card-action">
        <a href="#">Post Title here(link to city show page)</a>
      </div>
    </div>
  </div>

</div>
