<!-- TODO: delete this page - do not want -->
<!-- <% @posts.each do |f| %>
<div class="col s12 m7 profile_card">
  <div class="p_card">
  <h3 class="header">city</h3>
  </div>
  <div class="card small horizontal">
    <div class="card-image">
      <img src="http://www.indypendent.org/wp-content/photos/page14_kunstler.jpg">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p><%= f.text %></p>
      </div>
      <div class="card-action">
        <a>link_to f.title, user_post_path(current_user[:id])</a>
      </div>
    </div>
  </div>
</div>
<% end %> -->
