<div class="city_wrapper">
  <div class="cityShow col s12">
    <h2> Welcome to <%= @city.city %></h2>
  </div>
<div class="row">
  <span>  <i class="material-icons">location</i>
    <%= @city.state %>
    <i class="material-icons">country</i>
    <%= @city.country %></span>
</div>
<%= link_to "Add new post!", new_post_path(@city.id) %>

</div>
