<div class="intro">
  <h1 class="white-text text-lighten-5">Welcome to <%= @city.city %></h1>
</h5>
</div>
<br>
<div class="post center">
  <%= link_to "Add new post!", new_post_path(@city.id) %>
</div>
