/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "materialize/extras/nouislider";

//  body{
//     margin: 0;
//     padding: 0;
//     font-size: 15px;
// }
//
// nav {
//     background-color: black;
//     margin: 0;
//     overflow: hidden;
// }
//
// nav ul{
//     margin: 0;
//     padding: 0;
// }
// nav ul li {
//     /* This allow us to arrange list items in a row, without using float */
//     display: inline-block;;
//     float: right;
//     list-style-type: none;
// }

/* Create a style for the first level items */
// nav > ul > li > a {
//     color: #aaa;
//     background-color: white;
//     display: block;
//     line-height: 2em;
//     padding: 0.5em 0.5em;
//     text-decoration: none;
// }
//
// #logo {
//   float: left;
// }

// .wrapper {
//     height: 100%;
//     z-index: 20;
//     text-align: center;
// }
.nav-wrapper {
  background-color: rgba(0,0,0,0);
  height: 40px;
  width: auto;
}

body {
  background-image: url(https://media.giphy.com/media/l0HlPeC7bADsk4RnW/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.sign_up {
    position: absolute;
    top: 50%;
    text-align: center;
}

.center-btn { text-align: center }

h1 {
  color: white;
  position: absolute;
  top: 50%;
  text-align: center;
}

#video-background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden
}
