/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "materialize";
 @import "materialize/extras/nouislider";

.nav-wrapper {
  background-color: rgba(0,0,0,0);
  height: 40px;
  width: auto;
}

body {
  background-image: url(https://media.giphy.com/media/l0HlPeC7bADsk4RnW/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.newpage {
  background-image: url(http://www.gratisography.com/pictures/277_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.sign_up {
  position: absolute;
  top: 50%;
  text-align: center;
}

.form-wrapper {
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, .3);
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: white;
  position: absolute;
  top: 50%;
  text-align: center;
  font-family: roboto;
}
h5 {
  color: white;
  position: absolute;
  top: 63%;
  left: 20%;
  text-align: center;
  font-family: sans-serif;
}

#video-background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden
}
