<header>
  <div class="navbar-fixed">
      <nav>
          <div class="nav-wrapper">
            <a href="/users" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">language</i></a>

              <ul class="right hide-on-med-and-down">
                  <li>
                  <a href="/users/new" class="waves-effect waves-light btn">Log In</a>
                </li>
              </ul>
          </div>
      </nav>
  </div>
</header>
